html, body{
	margin: 0;
	height: 100%;
	max-width: 100%;
	min-width: 100%;
	min-height:100%;
	font-family: 'Roboto', sans-serif;
	font-size: 1.2rem;
	overflow-y:visible;
	
}
* { margin: 0px; padding: 0px; }

*{
    box-sizing: border-box;
}
body {
	overflow-x:hidden;
	position: relative;
	padding-bottom: 6rem;
	background-image: linear-gradient(#BEBEBE,#989898);
}



#topMess {
	
	position: fixed;
	z-index: 101;
	top: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	display: none;
	font-size: 1em;
	
	line-height: 1.5;
	color: #fde073;
	background-color: gray;
	text-align: center;
	-webkit-box-shadow: 0 0 5px black;
    -moz-box-shadow:    0 0 5px black;
    box-shadow:         0 0 5px black;
}

#nav {
	
	width: 100%;
	
	float: left;
	margin: 1em 2em 0 0;
	padding: 0;
	list-style: none;
	background-color: #f2f2f2;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
	text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
	
    padding: 0;
    overflow: hidden;
}
#nav ul{
	text-align: center;
	
}
#nav > li{
	display: inline-block;
}

#nav li a{
	
	
	padding: 8px 15px;
	text-decoration: none;
	font-weight: bold;
	color: #069;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
	
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


li.dropDown {
    display: block;
}

.dropDown-content {
    display: none;
  position: absolute;
	
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropDown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropDown-content a:hover {background-color: #f1f1f1}

.dropDown:hover .dropDown-content {
    display: block;

	
}
#nav li a:hover {
	
	color: #c00;
	background-color: #fff;
}

.headDiv{
	
	text-align: center;
	position: relative;
}

.navDiv{
	position: relative;
}

.headLogo {
	margin-top: 35px;
	font-size: 30px;
	color: green;
	text-align: center;
}

.borderLine{
	
	display: block;
	position: absolute;
	left: 25%;
	border: none;
	color: white;
	height: 1px;
	margin-bottom: 30px;
	background: black;
	 background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, 
	 from(#000), to(#fff));
	width: 50%;
	
}

.slideshow-container {
  max-width: 90%;
  width: 90%;
 
  padding-bottom: 200px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
	margin-top: 0;
	padding-top: 0;
	height: 50%;
	max-height: 50%;
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
.prev{
	
	position: absolute;
	left:0;
    top: 30%;
	}
.next {
  position: absolute;
  right: 0;
  top: 30%;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.mySlides img {
	height: 32em;
	
}

#mainImage{
	
	margin-top: 15px;
	margin-bottom: 20%;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
	
	width: 100%;
    float: left;
    padding: 15px;
	
}

@media only screen and (min-width: 600px) {
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;
    background-color:green;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;
    background-color:green;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
}

.productHead{
	color: #111; 
	font-family: 'Helvetica Neue', sans-serif; 
	
	font-weight: bold; 
	letter-spacing: -1px; 
	line-height: 1; 
	padding-bottom: 50px;
	position: absolute;
	left: 10%;
	top: 15%;
}



/*===========GRID===============*/
.grid-wrapper {
	
	
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 2fr));
	grid-column-gap: 210px;
    grid-row-gap: 20px;
	grid-template-rows: auto;
	grid-auto-rows:240px;
	
	
	
	min-height: 100%;
	height: 100%;
	
	margin-top: 5%;
	margin-bottom: 25%;
	margin-left: 5%;

	
}

.grid-number {
	
	
	margin-top: 120px;
	margin-bottom: 120px;
	width: 100%;
	min-width: 100%;
	height: 100%;
	min-height: 100%;
	
	
	
	
	
}

#prodTitle{
	
	position: absolute;
	width: 100%;
	bottom: 40%;
	color: #39ff14;
	text-align: center;
	
}


#prodPrice{
	
	position: absolute;
	color: #39ff14;
	bottom: 30%;
	text-align: center;
	width: 100%;
	
}
img{
	width: 60%;
	
	object-fit: cover;
	
	max-width: 100%;
	max-height: 100%;
}

#pic2{
	width:50%;
	max-width:50%;
}

/* --- Product Card ---- =============================================================================*/
#make-3D-space{
    position: relative;
    perspective: 800px;
    width:230px;
    height:300px;
    transform-style: preserve-3d;
    transition: transform 5s;
    position:absolute;    
    margin-top: 100px;
    /*margin-left: 70px;*/
}

#product-front, #product-back{
	width:335px;
	height:500px;
	
	position:absolute;
	left:-5px;
	top:-5px;
	-webkit-transition: all 100ms ease-out; 
       -moz-transition: all 100ms ease-out; 
         -o-transition: all 100ms ease-out; 
            transition: all 100ms ease-out; 
}
#product-back{
	display:none;
	transform: rotateY( 180deg );
}
.product-card.animate #product-back, .product-card.animate #product-front{
	top:0px;
	left:0px;
	-webkit-transition: all 100ms ease-out; 
       -moz-transition: all 100ms ease-out; 
         -o-transition: all 100ms ease-out; 
            transition: all 100ms ease-out; 
}
.product-card{
	width:200px;
	height:220px;
	position:absolute;    
	top:10px;
	left:10px;	
	overflow:hidden;
    transform-style: preserve-3d;
	-webkit-transition:  100ms ease-out; 
       -moz-transition:  100ms ease-out; 
         -o-transition:  100ms ease-out; 
            transition:  100ms ease-out;
}
div.product-card.flip-10{
	 -webkit-transform: rotateY( -10deg );
         -moz-transform: rotateY( -10deg );
           -o-transform: rotateY( -10deg );
              transform: rotateY( -10deg );
			   transition:  50ms ease-out; 			
}
div.product-card.flip90{
	 -webkit-transform: rotateY( 90deg );
         -moz-transform: rotateY( 90deg );
           -o-transform: rotateY( 90deg );
              transform: rotateY( 90deg );
			   transition:  100ms ease-in; 			
}
div.product-card.flip190{
	 -webkit-transform: rotateY( 190deg );
         -moz-transform: rotateY( 190deg );
           -o-transform: rotateY( 190deg );
              transform: rotateY( 190deg );
			   transition:  100ms ease-out; 			
}
div.product-card.flip180{
	 -webkit-transform: rotateY( 180deg );
         -moz-transform: rotateY( 180deg );
           -o-transform: rotateY( 180deg );
              transform: rotateY( 180deg );
			   transition:  150ms ease-out; 			
}
.product-card.animate{
	top:5px;
	left:5px;
	width:210px;
	height:240px;
	
	box-shadow:0px 13px 21px -5px rgba(0, 0, 0, 0.3);
	-webkit-transition:  100ms ease-out; 
       -moz-transition:  100ms ease-out; 
         -o-transition:  100ms ease-out; 
            transition:  100ms ease-out; 
}
.product-card.animate img{
	width: 100%;
}
.stats-container{
	background:#fff;	
	position:absolute;
	top:386px;
	left:0;
	width:209px;
	height:239px;
	padding:27px 35px 35px;	
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out;
}
.product-card.animate .stats-container{
	top:1px;
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 
}
.stats-container .product_name{
	font-size:22px;
	color:#393c45;	
}
.stats-container p{
	font-size:16px;
	color:#b1b1b3;	
	padding:2px 0 20px 0;
}
.stats-container .product_price{
	float:right;
	color:#48cfad;
	font-size:22px;
	font-weight:600;
}
.image_overlay{
	position:absolute;
	top:0;
	left:0; 
	width:100%;
	height:100%;
	background:#48daa1;
	opacity:0;	
}
.product-card.animate .image_overlay{
	opacity:0.7;	
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 
}
.product-options{
	padding:2px 0 0;
}
.product-options strong{
	font-weight:700;
	color:#393c45;
	font-size:14px;
}
.product-options span{	
	color:#969699;
	font-size:14px;
	display:block;
	margin-bottom:8px;
}

div.colors div{
	margin-top:3px;
	width:15px; 
	height:15px; 	
	margin-right:5px;
	float:left;
}
div.colors div span{
	width:15px; 
	height:15px; 
	display:block;
	border-radius:50%;
}
div.colors div span:hover{
	width:17px;
	height:17px;
	margin:-1px 0 0 -1px;
}
div.c-blue span{background:#6e8cd5;}
div.c-red span{background:#f56060;}
div.c-green span{background:#44c28d;}
div.c-white span{
	background:#fff;
	width:14px;
	height:14px; 
	border:1px solid #e8e9eb;
}
div.shadow{
	width:335px;height:520px;
	opacity:0;
	position:absolute;
	top:0;
	left:0;
	z-index:3;
	display:none;
	background: -webkit-linear-gradient(left,rgba(0,0,0,0.1),rgba(0,0,0,0.2));
    background: -o-linear-gradient(right,rgba(0,0,0,0.1),rgba(0,0,0,0.2)); 
    background: -moz-linear-gradient(right,rgba(0,0,0,0.1),rgba(0,0,0,0.2)); 
    background: linear-gradient(to right, rgba(0,0,0,0.1), rgba(0,0,0,0.2)); 
}
#product-back div.shadow{
	z-index:10;
	opacity:1;
	background: -webkit-linear-gradient(left,rgba(0,0,0,0.2),rgba(0,0,0,0.1));
    background: -o-linear-gradient(right,rgba(0,0,0,0.2),rgba(0,0,0,0.1)); 
    background: -moz-linear-gradient(right,rgba(0,0,0,0.2),rgba(0,0,0,0.1)); 
    background: linear-gradient(to right, rgba(0,0,0,0.2), rgba(0,0,0,0.1)); 
}


.buffer{
	height: 100px;
	width: 100%;
}




/*========================================Product Page========================*/
.productImg{
	
	height: 200px;
	width: 40%;
	flex: 50%;
	
}

.mainContainer{
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-wrap:wrap;

	height: 80%;
	width: 100%;
	padding-left: 5%;
	padding-right: 5%;
	position: relative;
	margin-top: 3em;
	margin-bottom: 10%;
}

.prodSlides{
	
	width: 100%;
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
}


.rightDiv{
	
	
	height: 65%;
	width: 40%;
	flex: 50%;
	
	
}

/*
.w3-button{
	
	position: absolute;
	top: 25%;
    width: 25px;
    height: 25px;
	
}

.w3-display-left{
	
	left: 0;
	
}

.w3-display-right{
	
	right: 0;
	
}*/

#productHead{
	
	text-align: center;
	font-wieght: normal;
	
	
	
}

.prodDescription{
	
	font-weight: normal;
	margin-top:25px;
	text-align:	center;
	
	line-height: 1;
}

.selectDiv {
	
	margin-top: 5%;
	
	
}
.selectBox {
	
	margin-bottom: 5%;
	background-color: #92B558;
	border-radius: 3px;
}

.btnAddAction {
	background-color: #92B558;
	border: 0;
	width: 60%;
	height: 40px;
	padding: 3px 10px;
	color: #3e3e3e;
	margin-left: 2px;
	border-radius: 2px;
	cursor:pointer;
}
#addButt{
	height: 5em;
}


#prodForm{
	background: none;
	width: 50%;
	border: none;
}
#price{
	
	margin-top: 5%;
	
	float: right;
	margin-right: 20%;
	
}

.cartButton{
	
  position: relative;
  
  width: 25%;
  text-align: center;
  transform: translate(-50%);
  display: block;
  padding: 12px 24px;
  margin: 3% 50%;
  border-radius: 6px;
  border: 0;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 0.0625em;
  text-transform: uppercase;
  background: #92B558;
  color: #fff;
}
/* Add a rollover background colour but keep the text white */
.cartButton:hover,
.cartButton:focus,
.cartButton:active {
  background: #b7b6cd;
  color: #fff;

}
/*============About Page============================================*/
#aboutStory{
	
	text-indent: 20px;
	font-family: 'karla', 'sans-serif';
	text-align: left;
	color:#39ff14;
	line-height:1em;
	font-size: 1.35em;
	margin-bottom: 50px;
	
}

#aboutHead{
	margin-top: 10%;
}
#aboutDiv{
	margin-top: 5%;
	margin-left: 25%;
	margin-right: 25%;
	overflow: auto;
	padding-bottom: 200px;
}
.imgRow{
	
	position: relative;
	margin-top: 100px;
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
}

.imgColumn{
	flex: 50%;
	padding: 0 4px;
}

.imgColumn img {
	
	margin-top: 8px;
	vertical-align: middle;
	width: 100%;
	height: 200px;
	object-fit:cover;
	
}

.line{
	
	display: block;
	position: absolute;
	left: 35%;
	transform: translate(-50% -50%);
	border: none;
	height: 1px;
	margin-bottom: 50px;
	background: black;
	width: 30%;
	
}

#aboutFrom{
	
	font-family: 'karla', 'sans-serif';
	text-align: center;
	color:#39ff14;
	line-height: 1em;
	font-size: 1.35em;
	margin-top: 10%;
	margin-bottom: 40px;
	
}
#wrapper {
	
	min-height: 100%;
	position: relative;
	background-image: linear-gradient(#BEBEBE,black);
}
#content {
	padding: 40px;
	
	padding-bottom: 300px;
}

#footer{
	
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: green;
	text-align: center;
	
	
	height: 200px;
	
}


/*=========================Registration/ sign in=========================*/

.header {
  width: 30%;
  margin: 10% auto 0px;
  color: white;
  background: #5F9EA0;
  text-align: center;
  border: 1px solid #B0C4DE;
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
}
form, .content {
  width: 30%;
 
  margin: 0 auto 10%;
  padding: 20px;
  border: 1px solid #B0C4DE;
  background: white;
  border-radius: 0px 0px 10px 10px;
}
.input-group {
  margin: 10px 0px 10px 0px;
}
.input-group label {
  display: block;
  text-align: left;
  margin: 3px;
}
.input-group input {
  height: 30px;
  width: 93%;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
}
.btn {
  padding: 10px;
  font-size: 15px;
  color: white;
  background: #5F9EA0;
  border: none;
  border-radius: 5px;
}
.error {
  width: 92%; 
  margin: 0px auto; 
  padding: 10px; 
  border: 1px solid #a94442; 
  color: #a94442; 
  background: #f2dede; 
  border-radius: 5px; 
  text-align: left;
}
.success {
  color: #3c763d; 
  background: #dff0d8; 
  border: 1px solid #3c763d;
  margin-bottom: 20px;
}



/*============cart page============================
*/

#shopping-cart table {
	
	margin: auto;
	width: 60%;
	background-color: #F0F0F0;
}

#shopping-cart table td {
	
	background-color: #FFFFFF;
	padding: 10px;
}

.txt-heading {
	
	color: #FFF;
	margin-bottom: 10px;
	text-align: left;
    border-bottom: #609edc 5px solid;
}

.txt-heading-label {
	display: inline-block;
    background: #97c0ea;
    padding: 10px 10px 6px 10px;
    color: #5a5a5a;
}
img.deleteImg {
	
	object-fit: fill;
	width: 50%;
}
a.btnRemoveAction {
	
	color: #D60202;
	border: 0;
	padding: 2px 10px;
	font-size: 0.9em;
}

a.btnRemoveAction:visited {
	
	color: #D60202;
	border: 0;
	padding: 2px 10px;
	font-size: 0.9em;
}

#btnEmpty {
	
	width: 5%;
	height: 5%;
	background-color: #ffffff;
	border: #FFF 1px solid;
	padding: 1px 10px;
	color: #ff0000;
	font-size: 0.8em;
	float: right;
	text-decoration: none;
	border-radius: 4px;
}

#shopping-cart {
	
	height: 50%;
	min-height: 50%;
	text-align: center;
	margin-bottom: 50%;
}


.cart-item {
	border-bottom: #79b946 1px dotted;
	padding: 10px;
}




#deleteButt {
	
	min-height:100%;
	height: 100%;
	
}




@media screen and (max-width:800px){
	
.header{ 
    width: 80%;
	}
form, .content {
  width: 80%;
  margin-top: 10%;
  margin: 0 auto 10%;
  padding: 20px;
  border: 1px solid #B0C4DE;
  background: white;
  border-radius: 0px 0px 10px 10px;
}

#content{
	padding-top:30%;
	padding-bottom: 100%;
}
	
	
.imgColumn{
	flex: 100%;
}
.productImg{
	flex:100%;
}
.rightDiv{
    flex: 100%;
	width: 100%;
	padding-left: 10%;
	padding-right: 10%;
}


/*=====================about page============
*/

#aboutDiv{
	
	margin-left:0;
	margin-right: 0;
	
	
	
}

/*==============cart ==================
*/


#shopping-cart {
	font-size: .5em;
	text-align: center;
	margin-bottom: 75%;
}
}

@media all and (max-width: 600px){
	
	
	
.cartPage{
	padding-bottom: 20%;
}

	#shopping-cart {
	width: 100%;
	max-width: 100%;
	text-align: center;
	margin-bottom: 50%;
}
#shopping-cart table {
	
	margin: auto;
	width: 100%;
	background-color: #F0F0F0;
}
	
#shopping-cart table td {
	
	background-color: #FFFFFF;
	padding: 0;
	width: 100;
}
	.grid-wrapper{
		margin-left: 10%;
	}
	.rightDiv{
	    font-size: 1rem;
	    width: 100%;
		order: 2;
	}
}


* {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}

















